<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<p>Current Active Sessions:</p>

<ul>
  <% sessions.forEach(function(session) { %>
  <li>
    <p>Session ID: <%= session.session_id %></p>
    <p>User ID: <%=session.id%></p>
    <a href="/revoke/<%=session.session_id%>">Revoke</a>
  </li>
  <!-- Display other session properties as needed -->
  <% }); %>
</ul>
